files/

frontend/node_modules/
frontend/dist/
frontend/src-tauri/target

backend/.venv/
backend/.env
backend/core/llama_cpp/*
backend/core/model/*
backend/friday_modules/text_to_speech_module/Piper_TTS/voices/*

__pycache__/
*.pyc

*.wav